####MaximalSumOfElementsLibrary###

MaximalSumOfElementsLibrary/bin/*
MaximalSumOfElementsLibrary/obj/*
MaximalSumOfElementsLibrary/.vs

###MaximalSumOfElements##

/MaximalSumOfElements/bin/*
/MaximalSumOfElements/obj/*
/MaximalSumOfElements/.vs/*
/MaximalSumOfElements/TestResults/*
/MaximalSumOfElements/packages/*

###MaximalSumOfElementsLibraryTest###

/MaximalSumOfElementsLibraryTest/bin/*
/MaximalSumOfElementsLibraryTest/obj/*

packages/*
TestResults/*
.git/*
.vs/*
#*.sln
